<!-- Title and image -->
<div class="layout-design d-flex flex-column align-items-center mt-4">
  <h1 class="fs-3">URL Shortener</h1>
  <img class="w-25" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="Layout image">
</div>

<!-- URL copy -->
<div class="mb-2 ms-2 mt-5">
  <h3>Success! Please use this link:</h3>
  <p class="text-primary fw-semibold">https://~</p>
  <div class="d-flex justify-content-center">
    <input class="border border-primary text-white p-1" style="width: 100px; background-color: #6596e6" type="submit"
      value="Copy">
  </div>
</div>