<!-- Title and image -->
<div class="layout-design d-flex flex-column align-items-center mt-4">
  <h1 class="fs-3">URL Shortener</h1>
  <img class="w-25" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="Layout image">
</div>

<!-- URL input -->
<form action="/" method="GET">
  <div class="mb-2 mt-5 d-flex flex-column align-items-center">
    <p class="text-primary fw-semibold">Your url is null. Please try again!</p>
    <button class="shorten border border-black bg-danger text-black mt-4 p-1" style="width: 250px; background-color: white"
      type="submit">
      Back
    </button>
  </div>
</form>